body
{
	background-color: #ffffff;
	font-family: "Didact Gothic";
}

header
{
	height: 80px;
	background-color: #f9a618;
	color: #000000;
	text-align: center;
	position: relative;
}

h1
{
	background-color: #ffffff;
}

.imageText
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

nav
{
	background-color: #f9a618;
	color: #3a404c;
	font-weight: bold;
	border-top: 0px;
	height: 50px;
	position: -webkit-sticky;
	position: sticky;
	top: 0%;
	width: 100%;
}

.navNav
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.navNav li
{
	float: left;
}

.navNav a
{
	display: block;
	padding: 8px;
	color: #000000;
	text-decoration: none;
}

.navNav a:hover
{
	background-color: #ee9f18;
}

/*aside
{
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #f9a618;
	color: #3a404c;
	font-weight: bold;
	overflow-x: hidden;
	padding-top: 20px
}*/

aside
{
	float: left;
	width: 25%;
	background-color: #f9a618;
	color: #3a404c;
	font-weight: bold;
	border-top: 0px;
	border-right: 0px;
	line-height: 50px;
	height: 60%;
	position: fixed;
	overflow: auto;
}

.asideNav
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	/*height: 100%;
	position: fixed;
	overflow: auto;*/
}

.asideNav a
{
	display: block;
	color: #000000;
	padding: 8px 16px;
	text-decoration: none;
}

.asideNav a:hover
{
	background-color: #ee9f18;
}

.active
{
	background-color: #e39818;
	color: #ffffff;
}

main
{
	background-color: #ffffff;
	border-top: 0px;
	padding-top: 10px;
	padding-left: 27%;
	height: 60%;
}

footer
{
	height: 10%;
	background-color: #f9a618;
	color: #000000;
	text-align: center;
	border-top: 0px;
	position: relative;
}

footer p
{
	font-size: 12px;
}

footer a
{
	text-decoration: none;
	color: #3a404c;
}

footer a:visited
{
	color: #3a404c;
}

footer a:hover
{
	color: #565d6b;
}

/*@media screen and (max-height: 450px)
{
	.sidenav
	{
		padding-top: 15px;
	}
	.sidenav a
	{
		font-size: 18px;
	}
}*/